/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    font-family: inherit;
    position: relative;
    min-height: calc(100vh - 5rem);
    background: #0A1931;
}

.container{
    margin:auto;
  }

/* Scrollbar */
body::-webkit-scrollbar {
    width: 10px;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #FFF;
    border-radius: 100px;
  }
  body::-webkit-scrollbar-track {
    background-color: #0a1931;
  }

/* Mobile */
@media screen and (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
  }
  
  @media screen and (min-width: 768px) {
    .rounded-lg-3 { border-radius: .3rem; }
  }
  
  @media screen and (min-width: 576px) {
    .rounded-lg-3 { border-radius: .3rem; }
  }
  

/* Navbar */
nav {
    display: flex;
    position: fixed;
    height: 80px;
}

nav a:hover{
  color:yellow;
}

nav a, p {
  display: block;
  font-size: 1em;
  text-decoration: inherit;
}

.nav-active{
  background-color: #0A1931;
  box-shadow: 5px -1px 12px -5px;
}

.destinasi > p{
  text-align: right;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  z-index: 100;
  position: relative;
  top: 7px;
  left: 40px;
  font-size: 18px;
  color:#FFF;
}

.rect{
width: 161px;
height: 40px;
background: #01A826;
border-radius: 60px;
position: relative;
top: 0px;
}

.rect:hover{
  background-color:#007219;
}
.rect:active{
  top: 10px;
}

.judul > a{
      position: absolute;
      left: 32px;
      top: 15px;
      z-index: 100;
      font-style: italic;
      font-weight: bold;
      font-size: 2.3vw;
      line-height: 37px;
      /* identical to box height */
      color: #FFFFFF;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
    }